DEMO_PASSWORD=Sfumato2026
ADMIN_SESSION_SECRET=hier-einen-sehr-langen-zufaelligen-session-schluessel-eintragen
PUBLIC_URL=https://tattoosfumato.de
SMTP_FROM=info@tattoosfumato.de
# Diesen Wert auch beim Mailanbieter als Header "X-Inbound-Secret" eintragen.
INBOUND_EMAIL_SECRET=hier-einen-langen-zufaelligen-wert-eintragen
